<style>
    .main-container {
        width: 800px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;   
    }

    .opinion-rate {
        display: flex;
        justify-content: space-between;

        margin: 10px;

        width: 350px;
    }

    .grades-container {
        width: 350px;

        display: flex;
        justify-content: space-between;
    }

    .grade {
        width: 15px;
        
        padding: 10px;
        margin: 0 1px;

        background-color: #8257e6;
        color: #fff;

        border-radius: 6px;

        text-align: center;
        text-decoration: none;
    }
</style>
<body>
    <div class="main-container">
        <label> Olá, <strong>{{name}}</strong>! Por favor, classifique nosso serviço :)
        </label>
        <h3>{{title}}</h3>
        <br/>
        <p>{{description}}</p>

        <div class="opinion-rate">
            <span>Pouco provável</span>
            <span>Muito provável</span>
        </div>

        <div class="grades-container">
            <a class="grade" href="{{link}}/1?u={{id}}">1</a>
            <a class="grade" href="{{link}}/2?u={{id}}">2</a>
            <a class="grade" href="{{link}}/3?u={{id}}">3</a>
            <a class="grade" href="{{link}}/4?u={{id}}">4</a>
            <a class="grade" href="{{link}}/5?u={{id}}">5</a>
            <a class="grade" href="{{link}}/6?u={{id}}">6</a>
            <a class="grade" href="{{link}}/7?u={{id}}">7</a>
            <a class="grade" href="{{link}}/8?u={{id}}">8</a>
            <a class="grade" href="{{link}}/9?u={{id}}">9</a>
            <a class="grade" href="{{link}}/10?u={{id}}">10</a>
        </div>

        <br/>
        <br/>

        <em>Sua opinião é muito importante para nós</em>
        <h3>Equipe | NLW</h3>
    </div>
</body>
</html>